<article id="query">
  <fieldset>
    <legend>
      SELECT Query /
      <%= link_to_function 'Load sample into form',
        'load_query_example()' %>
    </legend>
    <ol>
      <li>
        <label for="query">Query:</label>
        <%= text_area_tag 'query', query %>
      </li>
    </ol>
    <section>
      <pre id="query_example">SELECT lname, fname, jurisdiction
FROM Clients
WHERE amount BETWEEN 14000 AND 20000</pre>
      <p>Commas are not allowed in numeric values.  To select all columns,
      please use <code>*</code> and not <code>clients.*</code>.  Functions
      operating only on a column name, such as <code>SUM</code>, are accepted.
      <code>GROUP BY</code> and <code>ORDER BY</code> are allowed.</p>
    </section>
  </fieldset>
</article>