<article id="result">
  <h2>Results of Query</h2>
  <% if results.empty? %>
    <p>Your query had no results.</p>
  <% else %>
    <%= render :partial => 'table', :locals => {:rows => results,
      :columns => columns} %>
  <% end %>
</article>