<article id="schema-container">
  <fieldset>
    <legend>
      Table Schema /
      <%= link_to_function 'Load sample into form',
        'load_schema_example()' %>
    </legend>
    <ol>
      <label for="schema">Schema:</label>
      <%= text_area_tag 'schema', schema %>
    </ol>
    <section>
      <p>For example:</p>
      <pre id="schema_example">lname:varchar(16);fname:varchar(16);amount:numeric(7,2);
    jurisdiction:varchar(16)*
al-gamal;selim;12,322.00;abu dhabi*
bosch;hendrik;14,000.00;netherlands*
corso;giovanni;14,073.00;italy*
ivanov;alexander;14,000.00;russia*
schmidt;johann;22,400.32;germany*
smith;john;15,000.17;australia*</pre>
      <p>Commas will be stripped from numeric values.</p>
    </section>
  </fieldset>
  <br class="clear">
</article>