<h1>Credits</h1>
<ul>
  <li><a href="http://www.alistapart.com/articles/prettyaccessibleforms/">A List Apart: Prettier Accessible Forms</a></li>
  <li><a href="http://www.ruby-doc.org/stdlib/libdoc/erb/rdoc/classes/ERB.html">ERB API</a></li>
  <li><a href="http://www.favicon.cc/">FavIcon.cc</a></li>
  <li><a href="http://www.ruby-doc.org/core/">Ruby API</a></li>
  <li><a href="http://www.2pt3.com/news/twotone-icons-for-free/">Twotone Icons</a></li>
  <li><a href="http://www.dezinerfolio.com/2007/05/06/ultimate-web-20-layer-styles/">Ultimate Web 2.0 Layer Styles</a></li>
</ul>
