<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>CS 505 - Sarah Vessels - Project 1 - Fall 2010</title>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag 'common' %>
</head>
<body>
<header id="page-header">
    <h1>
      <%= link_to('CS 505 - Sarah Vessels - Project 1 - Fall 2010', :controller => :form) %>
    </h1>
</header>
<article id="page-content">
  <%= yield %>
</article>
</body>
</html>